.checkbox.inline {
    float: left;
    margin-left: 5px !important;
}

.centered-content {
    text-align: center;
}

.aui-progress-tracker {
    width: 100%;
}
.aui-header {
    min-height: 40px;
}
.aui-page-panel {
    min-height: 400px;
}