{% extends '::base.html.twig' %}

{% block content %}

    <h2>All Sales Available</h2>
    <div class="aui-item">
        {% include ':other:sale_table.html.twig' with {'sales': sales}  %}
    </div>

    <h2>Sales by Add-On</h2>
    <div class="aui-group">
        <div class="aui-item">
            <div id="sales-by-addon" style="width:100%; height:300px;"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include ':sale:_sales-by-addon-chart.html.twig' %}
{% endblock %}