parameters:
    base_url: http://localhost:8000

    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: atlassian-vendor-tools
    database_user: root
    database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    locale: en

    secret: ThisTokenIsNotSoSecretChangeIt

    vendor_email: vendor@gmail.com
    vendor_password: ~
    vendor_id: 123456789

    mailchimp_enabled: false
    mailchimp_api_key: 123123zaza123123-us1
    mailchimp_api_dc: us1
    mailchimp_addon_list_map: [{ addon_key: 'agile.estimation.3.0_private.ondemand', list_id: '123' }, { addon_key: 'simple-edit.ondemand', list_id: '123' }]

    filter_addons_enabled: false
    filter_addons: [some.addon.key, another.addon.key]

    security_admin_pass: 12345
