{% extends '::base.html.twig' %}

{% block content %}
    <h2>License Report</h2>
    {% include ':license:__filters.html.twig' with {'filterForm': filterForm} %}
    <div class="aui-group">
        <div class="aui-item">
            {% include ':other:license_table.html.twig' with {'licenses': licenses} %}
        </div>
    </div>
{% endblock %}
