{% macro scheduledEventStatusAction(event) %}
    {% set display = false %}
    {% if event.status in ['scheduled'] %}
        {% set action = 'Cancel' %}
        {% set status = 'cancelled' %}
        {% set display = true %}
    {% endif %}

    {% if event.status in ['error', 'cancelled'] %}
        {% set action = 'Reschedule' %}
        {% set status = 'scheduled' %}
        {% set display = true %}
    {% endif %}

    {% if display %}
        <a href="{{ url('scheduled_event_change_status', {'id': event.id, 'status': status}) }}" class="aui-button">{{ action }}</a>
    {% endif %}
{% endmacro %}