{% extends '::base.html.twig' %}

{% block content %}
    <h2>Expiring soon</h2>
    <div class="aui-group">
        <div class="aui-item">
            {% include ':other:license_table.html.twig' with {'licenses': expiringSoon} %}
        </div>
    </div>

    <h2>Recent Sales</h2>
    <div class="aui-group">
        <div class="aui-item">
            <table class="aui">
                {% for month, amount in sales %}
                    <tr>
                        <td>{{ month }}</td>
                        <td><strong>${{ amount }}</strong></td>
                    </tr>
                {% endfor %}
                <tr></tr>
            </table>
        </div>
        <div class="aui-item centered-content">
            <canvas id="sales-chart" width="400" height="180"></canvas>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var labels = [];
        var amounts = [];

        {% for month, amount in sales %}
        labels.push("{{ month }}");
        amounts.push("{{ amount }}");
        {% endfor %}
        var data = {
            labels: labels,
            datasets: [
                {
                    label: "Sales",
                    fillColor: "#3572b0",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "#205081",
                    highlightStroke: "rgba(220,220,220,1)",
                    data: amounts
                }
            ]
        };
        var ctx = document.getElementById("sales-chart").getContext("2d");
        var myBarChart = new Chart(ctx).Bar(data, {
            responsive: true,
            tooltipTemplate: "$<%= value %>"
        });
    </script>
{% endblock %}