{% extends '::base.html.twig' %}

{% block content %}
    <h2>Started Today</h2>
    <div class="aui-group">
        <div class="aui-item">
            {% include ':other:license_table.html.twig' with {'licenses': starters} %}
        </div>
    </div>

    <h2>Expiring Soon</h2>
    <div class="aui-group">
        <div class="aui-item">
            {% include ':other:license_table.html.twig' with {'licenses': expiringSoon} %}
        </div>
    </div>

    <h2>Recent Sales</h2>
    <div class="aui-group">
        <div class="aui-item">
            <div id="sale-chart" style="width:100%; height:300px;"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include ':dashboard:chart.html.twig' with {'sales': sales} %}
{% endblock %}