{% extends '::base.html.twig' %}

{% import ':other:macro.html.twig' as macro %}

{% block content %}
    <h2>Started Today</h2>
    <div class="aui-group">
        <div class="aui-item">
            {% include ':other:license_table.html.twig' with {'licenses': starters} %}
        </div>
    </div>

    <h2>Expiring Soon</h2>
    <div class="aui-group">
        <div class="aui-item">
            {% include ':other:license_table.html.twig' with {'licenses': expiringSoon, 'expiringSoonSales': expiringSoonSales} %}
        </div>
    </div>

    <h2>Recent Sales</h2>
    <h6>expected till the end of month: ${{ estimatedIncome }}</h6>
    <div class="aui-group">
        <div class="aui-item">
            <div id="sale-chart" style="width:100%; height:300px;"></div>
        </div>
    </div>

    <h2>Top Customers</h2>
    <div class="aui-group">
        <div class="aui-item">
            <table class="aui">
                {% for customer in topCustomers %}
                    <tr>
                        <td>{{ macro.licenseUrl(customer.licenseId) }}</td>
                        <td>{{ customer.organisationName }}</td>
                        <td><strong>${{ customer.total }}</strong></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="aui-item"></div>
    </div>
{% endblock %}

{% block js %}
    {% include ':dashboard:chart.html.twig' with {'sales': sales} %}
{% endblock %}