{% extends '::base.html.twig' %}

{% block content -%}
    <h2>New Template</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="buttons-container">
        <div class="buttons">
            <button class="aui-button aui-button-primary" type="submit">Save</button>
            <a class="aui-button aui-button-text" href="{{ path('templates') }}">Cancel</a>
        </div>
    </div>

    {{ form_rest(form) }}
{% endblock %}
