{% extends '::base.html.twig' %}

{% block content -%}
    <div class="aui-group">
        <div class="aui-item">
            <a class="aui-button aui-button-text" href="{{ path('templates') }}">Back</a>
        </div>
    </div>

    <h6>{{ entity.name }}</h6>

    <div class="aui-group">
        <div class="aui-item">
            {{ entity.body|raw }}
        </div>
    </div>
{% endblock %}
